.ain-course .reader{
    background-image:url(images/reader.jpg);
}
@media only screen and (max-width: 650px) {
    h3.eslogan{
        font-size: 1.2em;
        margin-left: 23px;
        margin-top: 5%;
    }
  }