.main-capacitacion{
    margin: auto 0 0;
    min-height: 460px;
    border-radius: 10px;
    padding: 0 13%;
}
.main-capacitacion img{
    border-radius: 10px;
    width: 90%;
    max-height: 460px;
    margin: auto;
}
button.courses{
    top: 80%;
    position: absolute;
    z-index: 9999;
    right: 10%;
}
button.courses.left{
    right: 3%;
    top: 93%;
    padding: 11px;
}
.modal-title{
    margin: auto;
}
.modal.fade.show{
    /* background: rgba(0, 0, 0, 0.7) !important; */
    display: block;
    z-index: 9 !important;
}
.no-right .modal-dialog.modal-lg{
    float: none !important;
    top: 14%;
}
.info-capa{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #e5e5e5;
    padding: 36px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: 10px;
    top: 22%;
    left: 5%;
}
.info-capa h1{
    font-size: 1.5em;
    text-align: justify;
}
/* .main-capacitacion img{
    max-height: 100% !important;
} */
b{
    font-weight: 600;
}
.main-content-course{
    font-size: 0.9em;
}
@media screen and (max-width: 852px) {
    .main-capacitacion{
        padding: 0;
    }
    .main-capacitacion .modal.show .modal-dialog, .modal-dialog.modal-lg{
        float: none !important;
    }
    .modal-full-height .modal-body{
        max-height: 355px !important;
        padding: 20px 49px 77px !important;
    }
    .modal-full-height .indice{
        font-size: 12px !important;
    }
    .main-item p{
        font-size: 13px !important;
        text-align: center !important;
    }
    .main-item ul li{
        font-size: 13px !important;
    }
    .main-item ul{
        padding-left: 5px !important;
    }

}
@media screen and (max-width: 750px) {
    .buttons-presentials.withMargin{
        margin-top: 0 !important;
    }
}
