.main-capacitacion{
    margin: 140px 0;
    min-height: 460px;
    border-radius: 10px;
    padding: 0 13%;
}
.main-capacitacion img{
    border-radius: 10px;
}
button.courses{
    top: 77%;
    position: absolute;
    z-index: 9999;
    right: 10%;
}
button.courses.left{
    left: 23px;
}
.modal-title{
    margin: auto;
}
.modal.fade.show{
    /* background: rgba(0, 0, 0, 0.7) !important; */
    display: block;
    z-index: 9 !important;
}
.no-right .modal-dialog.modal-lg{
    float: none !important;
    top: 14%;
}
.info-capa{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #e5e5e5;
    padding: 36px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: 10px;
    top: 22%;
    left: 5%;
}
.info-capa h1{
    font-size: 1.5em;
}
/* .main-capacitacion img{
    max-height: 100% !important;
} */
b{
    font-weight: 600;
}