
#slides {
    position: relative;
    height: 388px  !important;
}
#slides .scrollable {
 *zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}
#slides .slides-navigation {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	width: 100%;
}
#slides img {
    border-radius: 2px 2px 0 0;
    height: auto!important;
    top: 0 !important;
    width: 40% !important;
    left: 0 !important;
}
#slides .slides-navigation a {
	position: absolute;
	display: block;
	color: #493c41;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 3em;
	height: 3em;
	line-height: 3em;
	font-size: 1.15em;
	text-align: center;
}
#slides .slides-navigation a i {
	margin: 0;
    font-size: 2em;
    color: white;
    font-weight: 900;
    margin-top: 10px;
}
#slides.show{
    display:block;
    margin: 31px 48px -5px;
    /* -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26), 0 2px 10px 0 rgba(0,0,0,.12); */
    width: 81% !important;
    padding: 0;
}
#slides.hidden{
    display:none;
}
#slides .slides-navigation a.prev {
	left: 0;
}
#slides .slides-navigation a.next {
	right: 0;
}
#slides .slides-navigation a:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
#slides .slides-pagination {
	display: none;
}
#slides .slide {
	position: relative;
}
#slides .slide .slide-caption .container {
	margin-top: 23%;
}
#slides .slide .slide-caption .container h3 {
	display: inline-block;
	position: relative;
	padding: 0.48em 1.5em 0.48em 3.35em;
	font-size: 2em;
	font-weight: 600;
}
#slides .slide .slide-caption .container h1,h2 {
	color: #fff;
}
#slides .slide .slide-caption .container p {
	font-size: 1.15em;
	color: #fff;
	margin-top: 0;
	text-align: center;
}
#slides .slide .slide-caption .btn {
	border: none;
}
.holder {
	background-color: rgba(0, 0, 0, 0.15);
	top: auto;
	right: 0;
	bottom: 1%;
	left: 0;
	position: absolute;
	width: 2.5em;
	height: 3.85em;
	z-index: 99;
	border: 2px solid #FFF;
	margin: 0 auto;
	-webkit-border-radius: 3em;
	-moz-border-radius: 3em;
	-ms-border-radius: 3em;
	border-radius: 3em;
}
.moreArrow {
	display: block;
	font-size: 1em;
	color: #FFF;
	text-align: center;
	margin: 0 auto;
}
.slides-navigation a{
    cursor: pointer;
}
.nuevo img{
    height: auto;
}
.card2{
     position: absolute;
    border-radius: 0;
    right: 0;
    top: auto;
    padding: 2px;
    background-color: white;
    opacity: 0.93;

}
#collapseTwo{
	background-color: #0099cc;
}
.mb-0{
	width: 70%;
    padding: 2px;
    margin: auto 36px 0;
    font-size: 1.1em;
	color: #339;
}
.card-body{
	    color: black;
		padding: 0 0 8px 0;
}
.info{
	 position: absolute;
    /* background-color: #0099cc; */
    border-radius: 50%;
    height: 3em;
    width: 3em;
    z-index: 9999;
	bottom: 4%;
    right: 2%;
	cursor: pointer;
	top: 85%;
}
.info i{
	color: white;
	margin: 11px 11px;
}
.modal img{
	width: 100%;
}
.id h6{
	font-size: 12px;
    padding: 0;
    color: white;
    margin-bottom: -1px;
}
/* slides 2 */

@media screen and (max-width: 769px) {
    .text{
        margin-top: calc(100vh - 912px);
    position: relative;
    padding: 0;
    margin: auto;

    }
}