.slider.capa {
	width: auto;
    /* margin: auto; */
    overflow-x: hidden;
    text-align: center;
}

.slider.capa ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 20s infinite alternate linear;
}

.slider.capa li {
	/* width: 100%; */
    list-style: none;
    /* text-align: center; */
}

.slider.capa img {
    width: auto;
    /* max-height: 350px; */
	height: 100%;
	height: 100%;
    /* margin: 0 calc(20vh - 60px); */
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* .slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
} */

.carousel-linus div.show{
    position: absolute;
opacity: 1;
transition: 0.7s all ease-out;
}
.carousel-linus div.hidden{
	position: absolute;
	opacity: 0;
	transition: 0.7s all ease-out;
}