.slider.capa {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.slider.capa ul {
	display: flex;
	padding: 0;
	width: 100%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider.capa li {
	width: 100%;
    list-style: none;
    text-align: center;
}

.slider.capa img {
    width: auto;
    max-height: 350px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
