.overlay{
    margin: 20px;
}
.text{
    margin: 20px 0;
    padding: 45px 56px;
    padding-left: 0;
    position: absolute;
    top: 4%;
    right: 0;
}
.py-4{
    padding-top: 0 !important;
}
.py-4 p{
    margin: 40px;
    text-align: justify;
}
.isos a{
    padding: 18px !important;
    font-size: 0.79em !important;
}
.isos{
    margin-top:30px;
}
.card p{
    text-align: justify;
}