.main-content-course-init h2{
    color: black;
}
.main-content-course-init{
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 20px;
    max-height: 382px;
    overflow-y: auto;
    position: relative;
    width: 90%;
    margin: auto;
    border-radius: 0 0 15px 15px;
}
.main-content-course-init h1{
    margin-bottom: 25px;
    font-weight: 700;
    color: #3f51b5 !important;
}
.main-content-course-init .row{
    display: -webkit-inline-box;
    position: relative;
    margin: 0;
    min-height: 25%;
}
.main-content-course-init ul{
    margin: auto ;
    margin-bottom: 25px;
}
.left-text{
    text-align: left !important;
}
.block-div{
    display: block !important;
}
.main-content-course-init p{
    margin: auto;
}
@media screen and (max-width: 650px) {
    .main-content-course-init h1,.main-content-course-init h4 {
        font-size: 1em !important;
    }
    .main-content-course-init p, .main-content-course-init ul{
        font-size: 0.8em !important;
    }
    .main-content-course-init h2{
        font-size: 1em !important;
    }
    .btn-downloadInit a{
        padding: 15px 0;
        font-size: 0.7em;
    }
}