                
.form-dark .font-small {
    font-size: 0.8rem; }
  
  .form-dark [type="radio"] + label,
  .form-dark [type="checkbox"] + label {
    font-size: 0.8rem; }
  
  .form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }
  
  .form-dark .md-form label {
    color: #fff; }
  
  .form-dark input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }
  
  .form-dark input[type=text]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }
  
  .form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  
  .form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; 
} 
.form-dark .card-image{
    background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg');
    width: 28rem;
    background-size: cover;
    background-position: center;
}
.form-dark{
    position: absolute;
    z-index: 99999999;
    top: 6%;
    right: 3%;
}
.content-form{
    padding: 20px 50px;
}
.md-form {
    position: relative;
    margin-bottom: 1.5rem;
}
.md-form label.active {
    -webkit-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    transform: translateY(-140%);
    font-size: .8rem;
}
.md-form label {
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    color: #757575;
    position: absolute;
    top: .8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
}
.form-dark input{
    padding: 5px;
}