
.form-dark .font-small {
    font-size: 0.8rem; }

  .form-dark [type="radio"] + label,
  .form-dark [type="checkbox"] + label {
    font-size: 0.8rem; }

  .form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }

  .form-dark .md-form label {
    color: #fff; }

  .form-dark input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #3f51b5;
    -webkit-box-shadow: 0 1px 0 0 #3f51b5;
    box-shadow: 0 1px 0 0 #3f51b5; }

  .form-dark input[type=text]:focus:not([readonly]) + label {
    color: #fff; }

  .form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #3f51b5;
    -webkit-box-shadow: 0 1px 0 0 #3f51b5;
    box-shadow: 0 1px 0 0 #3f51b5; }

  .form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }
.form-dark .btn-success{
  background-color: #3f51b5 !important;
}
  .form-dark input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }

  .form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #3f51b5 #3f51b5 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.form-dark .card-image{
    width: 28rem;
    background: rgba(255, 255, 255, 0.7);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.form-dark{
    position: absolute;
    z-index: 99999999;
    top: 30px;
    right: 3%;
}
.content-form{
    padding: 20px 50px;
}
.md-form {
    position: relative;
    margin-bottom: 1.5rem;
}
.md-form label.active {
    -webkit-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    transform: translateY(-140%);
    font-size: .8rem;
}
.md-form label {
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    color: #757575;
    position: absolute;
    top: .8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
}
.form-dark input{
    padding: 5px;
}
.message-contact2 {
  z-index: 9999;
  font-weight:700;
  color: black;
  border-radius:0 0 10px;
  font-size: 1.5em;
  background:rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  padding: 25px;
  top: 5%;
}
@media screen and (max-width: 852px) {
  .form-dark{
    position: relative;
    width: 100%;
    right: 0;
  }
 
  .message-contact{
    top: 5% !important;
    right: 0 !important;
    font-size: 1.3em !important;
    text-align: center !important;
  }
  .message-contact2{
    right: 0 !important;
    font-size: 1.3em !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 550px) {
  .form-dark{
    margin-top: -102px;
    position: relative;
    width: 100%;
    right: 0;
  }
  .content-form{
    padding-left: 10px;
  }
  .message-contact2{
    top: 0;
  }
}