.indice{
    z-index: 99999;
    background: white;
}
.btn.aqua-gradient {
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.main-button{
    padding-bottom: 15px;
    margin-top: -33px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.main-content h3{
    font-size: 1.4em;
    font-weight: 700;
}
.main-content p{
    padding: 9px;
    text-align: center;
}
.content.inicial{
    right: -2054px;
}
.content.final{
    border-left: 1.9px solid #e9ecef;
    right: 0;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.9s ease-out;
}
.m-auto{
    margin: auto;
}

.aux{
    max-height: 396px;
}
.select-course{
    margin: auto;
    border: 1px solid #e9ecef;
    padding: 43px;
}
.buttons-presentials.withMargin{
    margin-top: calc(100vh - 408px);
}
.content{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 90px;
}
.indice button.active{
    background: #e5e5e5;
}
/* slider aux */
.slider {
    width: 83%;
    margin: auto;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}
.atras{
    width: 100%;
    margin: 6px;
}
.slider li {
	width: 100%;
    list-style: none;
}
.inhouse .slider li{
    text-align: center;
    width: 100%;
    list-style: none;
}
.slider img {
    width: auto;
    max-height: 270px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
