.indice{
    z-index: 99999;
    background: white;
}
.btn.aqua-gradient {
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.main-button{
    padding-bottom: 15px;
}
.main-content h3{
    font-size: 1em;
    font-weight: 600;
}
.main-content p{
    padding: 9px;
    text-align: justify;
}
.content.inicial{
    right: -1254px;
}
.content.final{
    border-left: 1px solid #e9ecef;
    right: 0;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.m-auto{
    margin: auto;
}

.aux{
    max-height: 396px;
}