.main-content-course h2{
    text-align: center;
    color: #4285F4;
    font-style: oblique;
    text-decoration: underline;
    font-size: 1.5em;
}
.main-content-course p {
    margin-bottom: 25px !important;
}
.objetivos, .temario,.main-content-course p{
    margin: auto;
}
.btn-content-course{
    text-align: center;
    margin: auto;
}
.footer-buttons-courses button{
    width: 60%;
}
button.dowload{
    padding: 0;
}
button.dowload a{
    color: white;
    display: block;
    height: 45px;
    padding-top: 12px;
}