.carousel-thumbnails .carousel-indicators {
    position: absolute;
}
.carousel-thumbnails .carousel-indicators .active {
    height: auto;
    width: auto;
    text-align: center;
}
.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 120px;
    width: 100px;
    border: none;
}
.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
    border: 1px solid white;
}
.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* max-height: 707px; */
}
.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-prev, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/* .carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
} */

.carousel-indicators li::before{
    display: none !important;
}
.dropdown-menu.show{
    right: 0;
    margin: 0 auto;
}
#navbarSupportedContent a{
    font-size: 0.9em;
    font-size: 0.9em;
    width: auto;
}
.carousel-indicators li::after {
    display: none !important;
}
.carousel .carousel-indicators li {
   border-radius : 5px !important;
}
.carousel-indicators li{
background-color: transparent !important;
}
.carousel-indicators li.active{
    background-color: white !important;
    }
.carousel-indicators span{
    filter: alpha(opacity=100);
    opacity: 1;
    color: black;
    font-size: 0.7em;
    font-weight: 900;
}
.modal{
    display: block;
}
.content-logo img{
    z-index: 99;
    height: 122px;
    width: 129px;
}
.content-logo{
    position: absolute;
    z-index: 99;
    /* background-color: rgba(255, 255, 255, 0.8); */
    border-radius: 100%;
    width: auto;
    height: auto;
    padding: 11px 12px 0;
    margin: 0;
}
/* 
 */
 .menu-content{
    z-index: 9999;
    width: 100%;
    margin-top: calc(20vh - 30px);
    position: absolute;
 }
 .menu-content-aux{
    margin: 0px 28%;
    position: fixed;
    z-index: 99;
    top: 9%;
    width: 100%;
 }
 .menu-content .mr-auto{
    width: auto;
    margin: 0 auto;
    display: -webkit-inline-box;
 }
 .menu-content .nav-item{
    /* padding: 1px 21px; */
    text-align: center;
    width: 100px;
    /* width: 110px; */
 }
 .eslogan{
    position: absolute;
    z-index: 9;
    margin: 23px 0;
    font-size: 2em;
    padding: 13px 22px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    padding-left: 79px;
    margin-left: 23px;
 }

.nav-item.active{
    /* padding: 1px 21px; */
    text-align: center;
    /* width: 131px; */
}
.modal.fade.show{
    display: show !important;
}
.modal-footer button{
    margin: auto;
}
.navbar-collapse{
    display: block;
    text-align: center;
    height: 40px;
}
/* .modal-body{
    overflow: scroll;
} */
/*  media queries */
