img{
    width: 100%;
    max-height: 540px;
}
.main-carousel{
    margin: auto 0 0;
}
.selects img{
    height: 40px;
    width: 100px;
    bottom: 0;
    margin:3px;
}
.withCover{
    background-size: cover !important;
}
.selects{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
img.active{
    border: 1px solid white;
}
.main-carousel .row{
    width: 100%;
    margin: 0;
    display: block;
    text-align: center;
    position: absolute;
    margin-right: 50px;
    min-height: calc(100vh - 300px);
}
.row.initial{
    width: 100%;
    margin: 0;
    display: block;
    text-align: center;
    position: absolute;
    margin-right: 50px;
    min-height: calc(100vh - 300px);
}
.main-carousel .container-fluid{
    padding: 0;
    min-height: 450px;
    background-size: contain;
}
.content-row{
    margin: calc(20vh - 60px) auto;
    padding: 50px;
}
.vacantes{
    position: absolute;
    margin-left: -10%;
}
.info-aqui{
    float: right;
    margin-top: 78px;
}
.row.red{
    margin-left: -2359px;
    transition: all 1.4s ease-out;
}
.row.blue{
    margin-left: 2359px;
    transition: all 1.4s ease-out;
}
.row.final{
    transition: all 1.4s ease-out;
    display: -webkit-inline-box;
}
.titleweb{
    color: #B2ADA2;
    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 800;
    text-align: center;
}
.content-titleweb{
    position: absolute;
    width: 100%;
    margin: calc(28vh - 20px);
    margin-left: 0;
    background: white;
    opacity: 0.9;
    padding: 18px;

}
.btn-downloadInit button{
    padding: 0;
}
.btn-downloadInit button a{
    margin: 15px;
}
.main-carousel .container-fluid img{
    position: absolute;
    height: 100%;
}
@media only screen and (max-width: 700px){
    .courseFuture{
        font-size: 0.4em !important;
        top: -2%;
        margin: 0 !important;
        width: 100% !important;
    }
    .courseFuture button{
        font-size: 1.4em;
    }
    .courseFuture h3{
        font-size: 2.5em;
    }
}
@media only screen and (max-width: 600px){
    .titleweb{
        font-size: 1.5em;
    }
}
.courseFuture{
    height: auto;
    width: 40%;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 4% 0;
}
.backG{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.text-black{
    color: black !important;
}
.content-row h1, .row.final h2{
    font-weight: 700;
    font-size: 1.8em;
    color: #3f51b5 !important;
}
.course-content-init{
    margin: 17% auto 0;
}
@media screen and (max-width: 700px) {
    .row.final{
        display: block !important;
    }
    .row.final h1{
        font-size: 1.8em;
    }
}
