img{
    width: 100%;
    max-height: 540px;
}
.main-carousel{
    margin: 140px 0 0;
    padding-top: 40px;
}
.selects img{
    height: 40px;
    width: 100px;
    bottom: 0;
    margin:3px;
}
.selects{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
img.active{
    border: 1px solid white;
}
.main-carousel .row{
    width: 100%;
    margin: 0;
    display: block;
    text-align: center;
    position: absolute;
    margin-right: 50px;
    min-height: calc(100vh - 300px);
}
.row.initial{
    width: 100%;
    margin: 0;
    display: block;
    text-align: center;
    position: absolute;
    margin-right: 50px;
    min-height: calc(100vh - 300px);
}
.main-carousel .container-fluid{
    display: -webkit-inline-box;
    padding: 0;
    min-height: 450px;
    background-size: cover;
}
.content-row{
    margin: calc(20vh - -24px);
}
.row.red{
    margin-left: -2359px;
    transition: all 1.4s ease-out;
}
.row.blue{
    margin-left: 2359px;
    transition: all 1.4s ease-out;
}
.row.final{
    transition: all 1.4s ease-out;
}
.titleweb{
    color: black;
    font-size: 3em;
    font-style: italic;
    font-weight: 800;
    text-align: center;
}
.content-titleweb{
    position: absolute;
    width: 100%;
    margin: calc(28vh - 20px);
    margin-left: 0;
    background: white;
    opacity: 0.7;
    padding: 18px;

}