.main-publicaciones{
    top: 13px;
    max-height: 484px;
    margin: 150px 0;
    padding: 100px 50px 28px;
    background-color: white;
    overflow-y: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    /* border-radius: 10px; */
    /* border: 1px solid #bbb; */
}
.main-publicaciones strong{
    display: block;
    margin: 15px;
}
.main-publicaciones .card-image{
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10px;
    padding: 10px;
    max-height: 320px;
    margin: auto;
    height: auto;
    margin-bottom: 15px
}
.main-publicaciones .card-image .d-flex{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26), 0 2px 10px 0 rgba(0,0,0,.12);
}
.button-footer{
    margin-top: 15px;
}
.list-publicaciones{
    margin-bottom: 20px;
}
.list-publicaciones .card p{
    text-align: center;
}
.list-publicaciones .card h5{
    margin-top: 32px;
    margin-bottom: 17px;
    color: white !important;
    font-size: 16px;
    font-weight: 600;
}
.btn-download{
    background-color: #3f51b5!important;
}

@media only screen and (max-width: 600px) {
    .main-publicaciones{
        margin: 150px 0;
    padding: 15px;
    }
  }
  @media only screen and (max-width: 1100px) {
    .main-publicaciones h3.card-title{
        font-size: 1em;
    }
  }