
.slider2 {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider2 ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider2 li {
	width: 100%;
	list-style: none;
}

.slider2 img {
	width: 100%;
}
.content-courses{
    margin-top: 0;
    text-align: none !important;
}
.content-courses button{
    font-size: 11px;
    padding: 5px;
    font-weight: 700;
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.row.normal{
    display: -webkit-inline-box;
    transition: 0.7s all ease-in-out
}
.row.hidden{
    opacity:0;
	transition: opacity 1s linear;
	position: absolute;
}
.position-center{
    margin: auto;
	position: relative !important;
}
.iRightFloat{
    right: 0;
}
.isLeftFloat{
    left: 0;
}
.max-h{
	max-height: 280px;
	/* width: auto !important; */
}