html, body{
  height: 100%;
}
body{
  overflow-y: hidden;
  overflow-x: hidden !important;
}
.modal-body{
  max-height: 460px;
  overflow-x: hidden;
  padding: 49px !important;
}
.modal-inicio{
  padding: 0 !important;
}
.no-show{
  z-index: -1;
}
.modal.show .modal-dialog, .modal-dialog.modal-lg {
  float: right;
  top: 20%;
}
.navbar-dark .nav-item{
  /* padding: 1px 22px; */
  height: 41px;
}
.preloader {
	display: block;
  background-color: #fff;
  width: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.preloader img {
	position: absolute;
	top: 50%;
	bottom: auto;
	left: 50%;
	right: auto;
	margin: -64px 0 0 -64px;
}
.navbar .dropdown-menu a:hover{
  color: black !important;
}


@media screen and (max-width: 950px) {
  button.courses{
      top: 89% !important;
  }
  .info-capa{
    left: 0 !important;
  }
}
@media screen and (max-width: 670px) {
  .navbar-dark .nav-item.width-normal{
    font-size: 12.5px !important;
    width: 62px !important;
  }
  .menu-content{
    padding-left: 0 !important;
  }
  .galeria-item, .enlaces-item, .inicio-item{
    font-size: 12.5px;
    width: 40px !important;
  }
}