html, body{
  height: 100%;
}
body{
  overflow-y: hidden;
  overflow-x: hidden !important;
}
p{
  text-align: justify !important;
}
.modal-body{
  max-height: 308px;
  overflow-x: hidden;
  padding: 49px !important;
}
.modal-full-height .modal-body{
  max-height: 369px;
  padding: 20px 49px 61px !important;
}

.modal-full-height .modal-body img{
  border-radius: 10px;
}
.modal-inicio{
  padding: 0 !important;
  max-height: 370px !important;
}
.no-show{
  z-index: -1;
}
.modal.show .modal-dialog, .modal-dialog.modal-lg {
  float: right;
}
.navbar-dark .nav-item{
  /* padding: 1px 22px; */
  height: 41px;
}
.modal-full-height .modal-content{
  min-height: 460px;
}
.preloader {
	display: block;
  background-color: #fff;
  width: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.modal-full-height .modal-header{
  background: #3f51b5 !important;
}
.modal-full-height .modal-title{
  font-weight: 700;
  color: white;
}

.preloader img {
	position: absolute;
	top: 50%;
	bottom: auto;
	left: 50%;
	right: auto;9
	margin: -64px 0 0 -64px;
}
.navbar .dropdown-menu a:hover{
  color: black !important;
}

.modal-full-height .main-body ul li a:hover{
  color:#3f51b5;
}
@media screen and (max-width: 950px) {
  button.courses{
      top: 89% !important;
  }
  .info-capa{
    left: 0 !important;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1050px) {
  .modal-full-height.modal-bottom {
      max-width: 100%;
      top: 37%;
  }
}
@media screen and (max-width: 670px) {
  .navbar-dark .nav-item.width-normal{
    font-size: 12.5px !important;
    width: 62px !important;
  }
  .menu-content{
    padding-left: 0 !important;
  }
  .galeria-item, .enlaces-item, .inicio-item{
    font-size: 12.5px;
    width: 40px !important;
  }
}